.buttons-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.button-primary {
    border: none;
    background-color: var(--green-color);
    color: var(--white-color);
}

.button-secondary {
    background-color: var(--white-color);
    color: var(--green-color);
    border: 1px solid var(--green-color);

    &:hover {
        color: var(--white-color);
    }
}

.back-button,
.pagination-button {
    padding: 0.2rem 0.6rem;
}

.button-save-quantity {
    background-color: transparent;
    display: grid;
    place-items: center;
    border: none;
    padding: 0rem;
    visibility: hidden;

    &:hover {
        background-color: transparent;
    }
}

.button-save-quantity-active {
    visibility: visible;
}

.buttons-request-container,
.buttons-accept-request-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons-request-container {
    justify-content: space-between;
}

@media screen and (max-width: 423px) {
    .buttons-request-container,
    .buttons-accept-request-container {
        justify-content: center;
    }

    .buttons-request-container {
        flex-direction: column-reverse;
    }

    .buttons-request-container button,
    .buttons-accept-request-container button {
        flex: 1;
    }
}
