.main-make-request {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.make-request-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.select-supply-container {
    display: flex;
    gap: 0.5rem;
}

@media screen and (max-width: 480px) {
    .main-make-request {
        flex-direction: column;
    }

    .make-request-section {
        width: 100%;
    }
}
