.main-make-request {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.make-request-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: red;
}

.section-search-engine {
    background-color: blue;
}

