@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --green-color: #849a30;
    --button-hover-green-color: #738529;
    --white-color: #f9f9f9;
    --table-background: #f4f6fd;
    --table-border: #cdd6f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.main-container {
    position: relative;
}

.main, .main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.main-login {
    min-height: 100vh;
}

.login-image-logo {
    width: 20rem;
    height: 15rem;
}

.main-home {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.title,
.subtitle {
    width: 100%;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title-in-center {
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
}

.form {
    display: grid;
    gap: 1rem;
}

.strong {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .main-home {
        padding: 1rem;
        justify-content: center;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .login-image-logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
