@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --green-color: #849a30;
    --button-hover-green-color: #738529;
    --white-color: #f9f9f9;
    --light-table-background: #f4f6fd;
    --dark-table-background: #ccd6f7;
    --table-border: #cdd6f6;
    --black-color: #26282d;
    --gray-light-color: #989aa1;
    --font: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    font-family: var(--font);
    font-size: 1rem;
    color: var(--black-color);
}

.main-container {
    position: relative;
}

.main,
.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.main-home {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.title,
.subtitle {
    width: 100%;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title-in-center {
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
}

.form {
    display: grid;
    gap: 1rem;
}

.strong {
    font-weight: bold;
}

.form-reason {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .main-home {
        padding: 1rem;
        justify-content: center;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }
}
