.input-box {
    display: flex;
    flex-direction: column;
}

.input-box:first-child {
    flex-direction: row;
    column-gap: 1rem;
}

.input {
    padding: 0.5rem 2rem 0.5rem 0.6rem;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.input:focus {
    border: 1px solid var(--green-color);
    box-shadow: 0px 0px 3px 0px var(--green-color);
}

.span-for-input-error {
    margin-top: 0.2rem;
    color: #f41d1d;
    font-size: 0.7rem;
}
