.section-search-engine {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-box-search-engine {
    position: relative;
    width: 15rem;
}

.make-request-input-box-search-engine {
    flex: 1;
}

.button-search-engine {
    position: absolute;
    display: grid;
    place-items: center;
    right: 0.5rem;
    top: 50%;
    background-color: white;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
}

@media screen and (max-width: 260px) {
    .make-request-input-box-search-engine {
        flex: none;
        width: 100%;
    }

    .button-in-line-with-search {
        flex: 1;
    }
}

@media screen and (max-width: 484px) {
    .input-box-search-engine {
        width: 100%;
    }
}