.select {
    /* padding: 0.5rem 2rem 0.5rem 0.6rem; */
    padding: 0.8rem;
    border: 0.0625rem solid gray;
    border-radius: 0.3125rem;
    outline: none;
    width: 100%;
}

.select:focus {
    border: .0625rem solid var(--green-color);
    box-shadow: 0 0 .1875rem 0 var(--green-color);
}
