.select {
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid gray;
    border-radius: 0.3125rem;
    outline: none;
    font-size: 1rem;
}

.select-section {
    width: 18rem;
}

.select:focus {
    border: 0.0625rem solid var(--green-color);
    box-shadow: 0 0 0.1875rem 0 var(--green-color);
}

@media screen and (max-width: 768px) {
    .select,
    .select-section {
        width: 100%;
    }
}
